site_name: "MaterialsAtlas Documentation"
site_description: Documentation for MaterialsAtlas.org, an open web app platform for accelerating materials discovery and design.
copyright: Built by The MaterialsAtlas.org Team
site_url: https://docs.materialsatlas.org

repo_name: "materialsatlas/docs"
repo_url: "https://github.com/usccolumbia/materialsatlas/docs"

nav:
  - Home: "index.md"
  #- Foundation: "foundation.md"
  - Methodology:
      - "Electronic structure": "methodology/electronic-structure.md"
      - "Elasticity prediction": "methodology/elasticity-prediction.md"
      - "Piezoelectricity": "methodology/piezoelectricity.md"
      - "Dielectricity": "methodology/dielectricity.md"
      - "Phonons": "methodology/phonons.md"
      - "Graph neural networks": "methodology/gnn.md"
  - User Reference:
      - "Charge Neutrality": "user-guide/charge_neutrality.md"
      - "Electronegativity Balance": "user-guide/electronegativity-balance.md"
      - "Formation Energy+e-hull": "user-guide/formation_energy_ehull.md"
      - "Pauling Rules": "user-guide/pauling_rules.md"
      - "Phonon Check": "user-guide/phonon-check.md"
      - "Lattice constant prediction": "user-guide/lattice-constant-prediction.md"
      - "Space group crystal system": "user-guide/space-group-crystal-system.md"
      - "Crystal Structure Prediction": "user-guide/tcsp.md"
      - "2D Materials": "user-guide/2d-materials.md"
      - "Noncentro symmetry check": "user-guide/noncentrosymmetry-check.md"
      - "Band gap": "user-guide/bandgap.md"
      - "Elastic Moduli": "user-guide/elastic-moduli.md"
      - "Hardness": "user-guide/hardness.md"
      - "Thermal conductivity": "user-guide/thermalconductivity.md"
      - "Ionic conductivity": "user-guide/ionic-conductivity.md"
      - "Superconductivity": "user-guide/superconductivity.md"
      - "Hypothetical composition database": "user-guide/hypothetical-composition-db.md"
      - "Hypothetical Cubic Materials": "user-guide/hypothetical-cubic-materials-db.md"
      - "Hypothetical 2D materials database": "user-guide/hypothetical-2d-materials-db.md"
      - "Hypothetical Lithium materials database": "user-guide/hypothetical-lithium-materials-db.md"
      - "Composition enumeration": "user-guide/composition-enumerator.md"
      - "Feature generation": "user-guide/feature-generator.md"
      - "ML composition": "user-guide/ml-composition-prediction.md"
      - "ML structure": "user-guide/ml-structure-prediction.md"
      - "Find similar composition": "user-guide/find-similar-composition.md"
      - "Find similar structure": "user-guide/find-similar-structure.md"
      - "Cif -- Poscar": "user-guide/cif-poscar-convert.md"
      - "Generate supercell": "user-guide/supercell-generator.md"
  - Database Updates: "database-updates.md"
  - Contribution:
      - "Newsfeed": "contrib/spec/newsfeed.md"

theme:
  name: "material"
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - toc.integrate
    - search.suggest
    - search.highlight
      - search.share
markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.betterem:
      smart_enable: all
  - toc:
      permalink: true

plugins:
  - search
  - bibtex:
      bib_dir: "refs"
      cite_style: "pandoc"

extra_javascript:
  - static/js/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
